/* page.css */
.flashcard-container {
  display: flex;
  gap: 20px;
  /* Space between the cards */
  justify-content: center;
  /* Center the cards horizontally */
  align-items: center;
  /* Center the cards vertically */
  margin-top: 20px;
  /* Space above the cards */
  padding: 20px;
  background: linear-gradient(135deg, #f5f7fa 0%, #c3cfe2 100%);
  border-radius: 15px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  animation: float 3s ease-in-out infinite;
}

.stack-container {
  display: relative;

}

@keyframes float {

  0%,
  100% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(-10px);
  }
}