.diagram-component {
  width: 100%;
  background: #fafafa;
  border-radius: 0 0 14px 14px;
}

.diagram-component .nodeLabel {
  font-family: 'Inter', sans-serif;
  font-size: 12px;
  font-weight: 500;
}
