.notes-page {
  display: flex;
  flex-direction: column;
  padding: 20px;
  background-color: #f4f5f7;
  overflow-y: auto;
  height: 100vh;
}

.user-greeting {
  margin-bottom: 20px;
}

.notes-main {
  flex: 1;
  padding: 20px;
  background-color: white;
  border-radius: 20px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.notes-main h1 {
  font-size: 28px;
  font-weight: 600;
  color: #333;
}

.side-panel {
  flex: 0 0 28%;
  background-color: #fff;
  padding: 20px;
  border-radius: 20px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
}

h1,
h2 {
  font-family: "Poppins", sans-serif;
}
